* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhai 2", cursive;
}

body {
  max-width: 1600px;
}

.wrapper {
  width: 98%;
  max-width: 1440px;
  margin: 0 auto;
  background: #f7f8fa;
}

header {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 670px;
}

header .header-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
  font-weight: 600;
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

.main-nav .hamburger {
  cursor: pointer;
  display: none;
}

.main-nav .hamburger h4 {
  color: #005aa5;
}

.nav-list {
  display: inline-block;
}

.nav-list .home:active {
  border-bottom: solid 2px #005aa5;
}

.nav-list li {
  display: inline-block;
  margin: 8px;
}

.nav-list li a {
  text-decoration: none;
  color: #1b1a19;
  font-size: 16px;
}

.nav-list li a:hover {
  border-bottom: solid 2px #005aa5;
}

.main-nav .nav-buttons {
  display: inline-block;
}

.main-nav .nav-buttons span {
  margin: 0 8px;
}

.main-nav .nav-buttons a {
  text-decoration: none;
  color: #1b1a19;
  font-size: 16px;
}

.main-nav .nav-buttons .login:hover {
  border-bottom: solid 2px #005aa5;
}

.main-nav .nav-buttons .signup {
  background-color: #005aa5;
  border-radius: 3rem;
  padding: 10px 30px;
  transition: ease 0.5s;
}

.main-nav .nav-buttons .signup:hover {
  background-color: #033156;
}

.main-nav .nav-buttons .signup a {
  color: #fff;
  text-align: center;
}

.intro-text {
  margin-left: 200px;
  margin-top: 130px;
  color: #005aa5;
  position: absolute;
  z-index: 1;
}

.intro-text .heading {
  font-size: 37px;
  line-height: 135%;
  font-weight: 600;
  letter-spacing: -0.025em;
}

.intro-text span {
  color: #1b1a19;
}

.intro-text .solutions {
  color: #1b1a19;
  font-size: 16px;
  line-height: 133%;
  font-weight: 400;
  margin-top: 20px;
}

.intro-text .search-box {
  margin-top: 30px;
}

.intro-text .search-box input {
  padding-left: 25px;
  width: 275px;
  height: 50px;
  font-family: "Baloo Bhai 2", cursive;
  font-size: 16px;
  border: none;
}

.intro-text .search-box label {
  background: #005aa5;
  padding: 12px 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 150px;
  height: 150px;
  margin-left: -3px;
  text-align: center;
}

.intro-text .search-box label a {
  text-decoration: none;
  color: #fff;
}

.call {
  background-color: #fff;
  position: absolute;
  box-shadow: 0px 29px 40px -15px rgba(54, 97, 132, 0.19);
  top: 740px;
  left: 990px;
  border-radius: 16px;
  width: 400px;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.call img {
  width: 58px;
}

.call .line img {
  height: 65px;
}

.call .tel {
  color: #005aa5;
  font-size: 30px;
  font-weight: 600;
}

#services {
  background: #f7f8fa;
  margin-bottom: 80px;
  margin-top: 200px;
}

#services .services-content {
  margin-top: 0;
  margin-left: 200px;
}

#services .services-content h5 {
  font-weight: 600;
  font-size: 18px;
  color: #005aa5;
}

#services .services-content h1 {
  font-size: 32px;
  line-height: 1.2em;
}

#services .services-content p {
  line-height: 1.2em;
  margin-top: 20px;
  font-weight: 400;
  color: #231f20;
}

#services .services-boxes {
  margin-top: 50px;
  margin-left: 200px;
  display: flex;
  align-items: center;
}

#services .services-boxes .box1,
#services .services-boxes .box2,
#services .services-boxes .box3 {
  margin-right: 50px;
  width: 325px;
  border: 1px solid rgba(181, 195, 207, 0.48);
  border-radius: 16px;
  padding: 50px;
}

#services .services-boxes .box2 {
  background: #fff;
  mix-blend-mode: normal;
  box-shadow: 0px 20px 53px -1px rgba(54, 97, 132, 0.13);
  border: none;
}

#services .services-boxes h5 {
  font-size: 18px;
  font-weight: 600;
}

#services .services-boxes p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.96px;
}

#rates {
  background: #e6eff6;
  padding: 50px 0;
}

#rates .rates-content {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
}

#rates .rates-text {
  margin-top: 40px;
}

#rates .rates-text h1 {
  line-height: 125%;
  font-size: 32px;
}

#rates .rates-text p {
  font-weight: 500;
  margin-top: 20px;
}

#rates .rates-text input {
  padding-left: 15px;
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 8px;
  color: #98a2b3;
  font-weight: 400;
  font-family: "Baloo Bhai 2", cursive;
}

#rates .rates-text button {
  background: #005aa5;
  display: block;
  border: none;
  padding: 12px 28px;
  margin-top: 25px;
  border-radius: 10px;
}

#rates .rates-text button a {
  text-decoration: none;
  color: #fff;
  font-family: "Baloo Bhai 2", cursive;
  font-weight: 600;
}

#rates .rates-images {
  margin-right: 100px;
}

#coming-soon {
  padding: 60px 0;
  background: #f7f8fa;
}

#coming-soon .coming-soonBoxes {
  display: flex;
}

#coming-soon .coming-soon1 {
  margin-left: 200px;
  width: 400px;
  margin-top: 120px;
}

#coming-soon .coming-soon1 h5 {
  font-weight: 600;
  font-size: 18px;
  color: #005aa5;
}

#coming-soon .coming-soon1 p {
  margin-top: 15px;
}

#coming-soon .coming-soon2 {
  margin-left: 190px;
  margin-top: 50px;
  width: 500px;
}

#coming-soon .coming-soon2 span {
  margin-top: 40px;
}

#coming-soon .coming-soon2 span h5 {
  display: inline;
  color: #1b1a19;
  font-weight: 600;
  font-size: 18px;
}

#coming-soon .coming-soon2 span img {
  float: right;
}

#coming-soon .coming-soon2 p {
  color: #231f20;
  line-height: 125%;
}

#coming-soon .coming-soon2 input {
  font-family: "Baloo Bhai 2", cursive;
  border: none;
  background: none;
  border-bottom: #d8e0e7 solid 2px;
  width: 500px;
  margin: 5px 0 15px 0;
}

#coming-soon .coming-soon2 input:focus {
  border: none;
  background: none;
  border-bottom: #d8e0e7 solid 2px;
}

#coming-soon .coming-soon2 button {
  background: #005aa5;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 25px;
}

#coming-soon .coming-soon2 button a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

#Get-touch {
  background: #f7f8fa;
  margin-top: 50px;
}

#Get-touch .get-touchContent {
  display: flex;
}

#Get-touch .get-touchText {
  margin-left: 200px;
  margin-top: 100px;
}

#Get-touch .get-touchText h1 {
  color: #005aa5;
  font-weight: 600;
  font-size: 32px;
}

#Get-touch .get-touchText p {
  font-size: 16px;
  margin-bottom: 30px;
}

#Get-touch .get-touchText span label {
  font-family: "Baloo Bhai 2", cursive;
  font-weight: 500;
  font-size: 16px;
  margin-right: 140px;
}

#Get-touch .get-touchText span input {
  font-family: "Baloo Bhai 2", cursive;
  margin-right: 25px;
  font-size: 16px;
  border: 1px solid #e4e7ec;
  border-radius: 8px;
  height: 40px;
  padding-left: 10px;
}

#Get-touch .get-touchText div span {
  display: inline;
}

#Get-touch .message {
  margin-top: 20px;
}

#Get-touch .message textarea {
  border: 1px solid #e4e7ec;
  padding-left: 10px;
  border-radius: 8px;
  font-size: 16px;
  padding-top: 10px;
}

#Get-touch .get-touchText button {
  background: #005aa5;
  padding: 12px 28px;
  border-radius: 10px;
  border: none;
  margin-top: 30px;
}

#Get-touch .get-touchText button a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Baloo Bhai 2", cursive;
}

#Get-touch .get-touchImg {
  margin-left: 150px;
  margin-bottom: -8px;
}

#footer {
  background: #fff;
  padding: 70px 0 20px 0;
  display: flex;
}

#footer .logo {
  width: 400px;
  margin-left: 200px;
}

#footer .logo .socicons {
  margin-top: 30px;
}

#footer .logo .socicons li {
  display: inline-block;
  margin-right: 10px;
}

#footer .company {
  margin-left: 100px;
}

#footer .company p,
#footer .quick-link p,
#footer .contact p {
  font-weight: 600;
  margin-bottom: 15px;
}

#footer .company ul li {
  list-style: none;
  margin-bottom: 15px;
}

#footer .company ul li a {
  text-decoration: none;
  color: #1b1a19;
  font-size: 14px;
  font-weight: 400;
}

#footer .company ul li a:hover {
  font-weight: 600;
}

#footer .quick-link {
  margin-left: 120px;
}

#footer .quick-link ul li {
  list-style: none;
  margin-bottom: 15px;
  padding: 0 20px 0 0;
}

#footer .quick-link ul li a {
  text-decoration: none;
  color: #1b1a19;
  font-size: 14px;
  font-weight: 400;
}

#footer .quick-link ul li a:hover {
  font-weight: 600;
}

#footer .contact {
  margin-left: 110px;
}

#footer .contact ul li {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}

footer {
  color: #005aa5;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  padding: 10px 0 50px 0;
}

/*MEDIA QUERIES*/

@media (max-width: 1024px) {
  .wrapper {
    max-width: 1024px;
  }

  header {
    max-width: 1024px;
    height: 435px;
    background-image: url("Pictures/truck1024px.png");
  }

  .main-nav {
    width: 85%;
    max-width: 1024px;
    margin-left: 60px;
  }

  .nav-list,
  .main-nav .nav-buttons {
    display: none;
  }

  .main-nav .hamburger {
    float: right;
    display: block;
  }

  .intro-text {
    margin-top: 90px;
    margin-left: 100px;
  }

  .intro-text .heading {
    font-size: 30px;
  }

  .intro-text .solutions {
    width: 350px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
  }

  .intro-text .solutions br {
    display: none;
  }

  .intro-text .search-box input,
  .intro-text .search-box label {
    font-size: 16px;
    font-weight: 400;
  }

  .intro-text .search-box input {
    width: 300px;
    padding-left: 12px;
  }
  .intro-text .search-box label {
    width: 150px;
  }

  .call {
    left: 320px;
    top: 465px;
    width: 330px;
    padding: 15px 40px;
  }

  .call img {
    width: 48px;
  }

  .call .line img {
    height: 55px;
  }

  .call .tel {
    color: #005aa5;
    font-size: 20px;
    font-weight: 600;
  }

  #services {
    margin-top: 200px;
    text-align: center;
  }

  #services .services-content {
    margin: 0 auto;
  }

  #services .services-boxes {
    margin: 50px auto;
    flex-direction: row;
  }

  #services .services-boxes .box1,
  #services .services-boxes .box2,
  #services .services-boxes .box3 {
    margin: 30px auto;
    width: 300px;
    padding: 20px;
  }

  #rates {
    margin-left: 0;
  }

  #rates .rates-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 30px;
  }

  #rates .rates-images img {
    margin-right: 0;
    margin-left: 50px;
    width: 90%;
  }

  #coming-soon {
    padding: 30px 0;
  }

  #coming-soon .coming-soonBoxes {
    flex-direction: row;
  }

  #coming-soon .coming-soon1 {
    margin-left: 30px;
    margin-top: 50px;
  }

  #coming-soon .coming-soon2 {
    margin-left: 50px;
  }

  #Get-touch {
    text-align: left;
  }

  #Get-touch .get-touchContent {
    flex-direction: row;
  }

  #Get-touch .get-touchText {
    margin-left: 30px;
    margin-top: 100px;
  }

  #Get-touch .get-touchText span input {
    margin-right: 0;
  }

  #Get-touch .get-touchImg {
    margin-top: 100px;
    margin-left: 100px;
  }

  #Get-touch .get-touchImg img {
    width: 90%;
  }

  #footer {
    flex-direction: row;
    text-align: left;
  }

  #footer .logo {
    margin-left: 30px;
    width: 220px;
  }

  #footer .logo .socicons {
    margin-top: 30px;
  }

  #footer .company,
  #footer .quick-link,
  #footer .contact {
    margin-top: 10px;
  }

  #footer .company {
    margin-left: 90px;
    width: 100px;
  }

  #footer .quick-link {
    margin-left: 70px;
    width: 150px;
  }

  #footer .contact {
    margin-left: 50px;
    width: 100px;
  }
}
/*END OF 1024px*/

@media (max-width: 768px) {
  .wrapper {
    max-width: 768px;
  }

  header {
    max-width: 768px;
    background-image: url("Pictures/truck768px.png");
  }

  .main-nav {
    margin-top: 0;
  }

  .intro-text {
    margin-top: 65px;
  }

  .intro-text .solutions br {
    display: none;
  }

  .intro-text .solutions {
    width: 300px;
  }

  .call {
    left: 240px;
    top: 430px;
  }

  #services .services-boxes {
    margin: 50px auto;
    flex-direction: column;
  }

  #services .services-boxes .box1,
  #services .services-boxes .box2,
  #services .services-boxes .box3 {
    margin: 30px auto;
    width: 400px;
    padding: 50px;
  }

  #rates .rates-content {
    text-align: center;
  }

  #rates .rates-content {
    flex-direction: column;
  }

  #rates .rates-content .rates-text {
    margin-top: 20px;
  }

  #rates .rates-content .rates-text button {
    margin: 20px auto;
  }

  #rates .rates-images img {
    margin-top: 50px;
  }

  #coming-soon .coming-soonBoxes {
    flex-direction: column;
  }

  #coming-soon .coming-soon1 {
    margin-left: 50px;
    margin-top: 50px;
  }

  #coming-soon .coming-soon2 {
    margin-left: 50px;
  }

  #Get-touch .get-touchContent {
    flex-direction: column;
  }

  #Get-touch .get-touchText {
    text-align: left;
    margin-top: 80px;
    margin-left: 50px;
  }

  #Get-touch .get-touchImg {
    margin-top: 50px;
    margin-left: 100px;
  }

  #footer .company {
    margin-left: 50px;
    width: 100px;
  }

  #footer .quick-link {
    margin-left: 30px;
    width: 150px;
  }

  #footer .contact {
    margin-left: 10px;
    width: 100px;
  }
}

/*END OF 768px*/

@media (max-width: 375px) {
  body {
    max-width: 375px;
  }

  .wrapper {
    max-width: 375px;
  }

  header {
    max-width: 375px;
    background-image: url("Pictures/truck375px.png");
    height: 370px;
  }

  .main-nav {
    max-width: 375px;
    margin-top: -5px;
    margin-left: 10px;
  }

  .main-nav .hamburger {
    display: block;
    color: #005aa5;
  }

  .main-nav .logo img {
    width: 25%;
  }

  .intro-text {
    margin-top: 45px;
    margin-left: 55px;
  }

  .intro-text .heading {
    font-size: 16px;
  }

  .intro-text .solutions {
    font-size: 13px;
    font-weight: 500;
    margin-top: 17px;
    line-height: 1.5em;
    width: 200px;
    color: #fff;
  }

  .intro-text .search-box {
    margin-top: 20px;
  }

  .intro-text .search-box input {
    width: 170px;
    height: 30px;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 15px;
    display: block;
  }
  .intro-text .search-box label {
    width: 50px;
    font-size: 12px;
    padding: 8px;
    border-radius: 1rem;
  }

  .call {
    justify-content: space-around;
    top: 400px;
    left: 60px;
    width: 250px;
    padding: 10px 20px;
    align-items: center;
  }

  .call span img {
    width: 150%;
  }

  .call .line img {
    height: 45px;
    margin-left: 3px;
  }

  .call p {
    font-size: 12px;
  }

  .call .tel {
    font-size: 14px;
  }

  #services {
    width: 350px;
  }

  #services .services-boxes {
    margin: 30px auto;
  }

  #services .services-boxes .box1,
  #services .services-boxes .box2,
  #services .services-boxes .box3 {
    margin: 30px auto;
    width: 275px;
    padding: 20px;
  }

  #rates {
    width: 350px;
    margin: 0 auto;
  }

  #rates .rates-text input {
    padding-left: 15px;
    width: 250px;
  }

  #coming-soon {
    padding: 20px 0;
    width: 350px;
  }

  #coming-soon .coming-soon1 {
    width: 300px;
    margin-left: 30px;
  }

  #coming-soon .coming-soon1 h1 br {
    display: none;
  }

  #coming-soon .coming-soon2 {
    width: 300px;
    margin-left: 30px;
  }

  #coming-soon .coming-soon2 img {
    width: 300px;
    display: block;
    margin-bottom: 10px;
  }

  #coming-soon .coming-soon2 span h5 {
    display: inline;
  }

  #coming-soon .coming-soon2 span img {
    width: 10px;
  }

  #coming-soon .coming-soon2 input {
    width: 300px;
  }

  #Get-touch .get-touchText {
    margin-left: 30px;
    margin-top: 100px;
  }

  #Get-touch .get-touchText span label {
    display: none;
  }

  #Get-touch .get-touchText span input {
    margin-bottom: 30px;
    width: 250px;
  }

  #Get-touch .message {
    margin-top: -5px;
    width: 350px;
  }

  #Get-touch .message textarea {
    width: 250px;
  }

  #Get-touch .get-touchImg {
    margin-left: 30px;
  }

  #footer {
    flex-direction: column;
    text-align: center;
  }

  #footer .logo {
    width: 300px;
    margin-left: 30px;
  }

  #footer .company {
    margin: 40px auto 20px auto;
    width: 350px;
  }

  #footer .company ul li {
    display: inline-block;
    margin: 0 5px;
  }

  #footer .quick-link {
    margin: 20px auto 20px auto;
    width: 350px;
  }

  #footer .quick-link ul li {
    display: inline-block;
    margin: 0 5px;
  }

  #footer .contact {
    margin: 20px auto 20px auto;
    width: 350px;
  }

  #footer .contact ul li {
    display: block;
    margin: 0 5px;
  }

  #footer .quick-link ul li {
    display: inline-block;
  }

  #footer .contact ul li {
    display: inline-block;
  }
}
